#metaMap {
	height: 50vh;
	width: unset;
}
#Lower {
	position: unset;
}
#textItems {
        background-color: #1e1e2e;
}
@media (max-aspect-ratio: 1) {
	#metaMap {
		height: unset;
		width: 80vw;
	}
	li>iframe {
		width: 90%
	}
}
